<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enggameforlearn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".RegisterActivity"
            android:label="@string/app_name"></activity>
        <activity 
            android:name=".LoginActivity"
            android:label="@string/app_name"></activity>    
          <activity 
            android:name=".ReadyGameActivity"
            android:label="@string/app_name"></activity>   
               
           <activity 
            android:name=".GameResultActivity"
            android:label="@string/app_name"></activity>          
         
         <activity 
            android:name=".RunningGameActivity"
            android:label="请找出以下不同的一项"></activity>    
                
        <activity 
            android:name=".PortraitActivity"
            android:label="设置头像">
            <intent-filter>
                <action android:name="com.enggameforlearn.PortraitActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
  
    </application>

</manifest>
